.App {
}

/*
The following class-endings: *-enter, *-enter-active, *-exit, *-exit-active,
have very specific meanings to <CSSTransition />
(see more: https://reactcommunity.org/react-transition-group/css-transition)
*/

.fade-enter {
  opacity: 0;
  /* transform: translate(0, 25px); */
  z-index: 9999;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  /* transform: translate(0, 0); */
  transition: opacity 400ms ease-out;
}
.fade-exit {
  opacity: 1;
  /* transform: translate(0, 0); */
}
.fade-exit.fade-exit-active {
  opacity: 0;
  /* transform: translate(0, 30px); */
  transition: opacity 400ms ease-out;
}

/*
The page-transition-helper class should wrap any page that will be
transitioned so that they lay on top of each other when transitioning
*/

.page-transition-helper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
