.App {
}

/*
The following class-endings: *-enter, *-enter-active, *-exit, *-exit-active,
have very specific meanings to <CSSTransition />
(see more: https://reactcommunity.org/react-transition-group/css-transition)
*/

.fade-enter {
  opacity: 0;
  /* transform: translate(-100%, 0); */
  z-index: 9999;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
  /* transform: translate(0, 0); */
  /* transition: transform 600ms ease-out; */
}
.fade-exit {
  opacity: 1;
  /* transform: translate(0, 0); */
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-out;
  /* transform: translate(100%, 0); */
  /* transition: transform 600ms ease-out; */
}