.CreatePalette {
  height: 100vh;
  overflow-x: hidden;
}

.CreatePalette-toolbar {
 display: flex;
 flex-direction: row;
}

.CreatePalette-main {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}