.CreatePaletteNav-header {
  flex: 1 1 auto;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  padding-right: 1rem;
}

.SavePaletteDialog-title {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  padding: 16px 24px 10px 24px;
}

.SavePaletteDialog-text {
  font-size: .9rem;
  margin: 0 0 1rem 0;
}

