.CreatePaletteNav-header {
  flex: 1 1 auto;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  padding-right: 1rem;
}

.CreatePaletteNav-close,
.CreatePaletteNav-save {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreatePaletteNav-close .short,
.CreatePaletteNav-save .short {
  display: none;
  line-height: .85rem;
}

@media (max-width:550px) {
  .CreatePaletteNav-header {
    display: none;
  }
  .CreatePaletteNav-btns {
    margin-left: auto;
  }
  .CreatePaletteNav-close .long,
  .CreatePaletteNav-save .long {
    display: none;
  }
  .CreatePaletteNav-close .short,
  .CreatePaletteNav-save .short {
    display: block;
  }
}

