/* -- General ---------------------------------------------------------------- */

html {
  background: whitesmoke;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -- Buttons ---------------------------------------------------------------- */

.btn {
  border: none;
  margin: 0;
  padding: .35rem .6rem .4rem .6rem;
  background: transparent;
  border-radius: 4px;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  transition: background .3s;
  text-align: center;
}

.btn--plain {
  background: rgb(230,230,230);
  font-size: .75rem;
}

.btn--plain:hover {
  background: rgb(210,210,210);
}

.btn--plain:focus {
  box-shadow: 0 0 1px 3px rgba(158, 217, 252, 0.9);
}

.btn--save {
  color: #fff;
  background: rgb(8, 182, 106);
}

.btn--save:hover {
  background: rgb(9, 204, 119);
}

.btn--save:focus {
  box-shadow: 0 0 1px 3px rgba(158, 217, 252, 0.9);
}

.btn--delete {
  color: #fff;
  background: rgb(235,0,20);

}

.btn--delete:hover {
  background: rgb(187, 10, 24);
}

.btn--delete:focus {
  box-shadow: 0 0 1px 3px rgba(255, 187, 210, 0.9);
}

.btn--exit:hover {
  background: rgb(230,230,230);
}

.btn--exit:focus {
  box-shadow: 0 0 1px 3px rgba(158, 217, 252, 0.9);
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* -- MUI overrides ---------------------------------------------------------- */

.MuiDialog-paper {
  /* background: rgb(39,34,42); */
}

.MuiDialogTitle-root {
  /* color: rgb(255,255,255); */
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  padding: 16px 24px 10px 24px;
}

.MuiDialogContentText-root {
  /* color: rgba(255,255,255,.7); */
  font-size: .9rem;
}

.MuiDialogContentText-root strong {
  color: #000;
  font-weight: 600;
}

.MuiDialog-root .MuiFormControl-root {
  margin-top: 1rem;
}
