.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
}

.Navbar-header {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem 15px 1rem 18px;
  color: #000;
  background: #fff;
}

.Navbar-header a {
  text-decoration: none;
  color: inherit;
}

.Navbar-head {
  flex: 0 0 auto;
}

.Navbar-slider-items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.Navbar-slider-label {
  flex: 0 0 auto;
  font-size: .65rem;
  font-weight: 500;
  padding: 0 .5rem 0 20px;
  color: #000;
}

.Navbar-slider {
  flex: 1 1 auto;
  min-width: 75px;
  max-width: 300px;
  align-self: center;
  padding-right: 30px;
}

.Navbar-format {
  flex: 1 1 auto;
  min-width: 4rem;
  max-width: 4rem;
  padding-right: 20px;
  padding-left: 10px;
  margin-left: auto;
  margin-bottom: -4px;
}

/* MUI dropdown icon override */
.Navbar-format svg {
  top: 0;
}

@media (max-width: 576px) {
  .Navbar-header {
    font-size: calc(13px + 1vw);
  }
  .Palette-navbar {
    flex-wrap: wrap;
  }
  .Navbar-format {
    order: 2;
  }
  .Palette-navbar .Navbar-slider-items {
    order: 3;
    width: 100%;
    padding: 15px 0;
    background: rgb(247,247,247);
  }
  .Navbar-slider {
    max-width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: 300px) {
  .Palette-navbar .Navbar-format {
    padding-left: 20px;
    width: 100%;
    max-width: 100%;
    padding-bottom: 5px
  }
  .Palette-navbar .Navbar-slider-items {
    background: #fff;
  }

  .ColorShades-navbar {
    flex-wrap: wrap;
  }
  .ColorShades-navbar .Navbar-head {
    width: 100%;
  }
  .ColorShades-navbar .Navbar-format {
    padding-left: 20px;
    width: 100%;
    max-width: 100%;
    padding-bottom: .5rem;
  }
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: .3rem;
  background-color: rgb(200,200,200);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: rgb(30,30,30);
  border: solid 2px white;
  outline: none;

}