.PaletteChip {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.PaletteChip-colors {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background: linear-gradient(
    to bottom,
    rgb(255,255,255), 85%,
    rgb(248,248,248)
  );
  cursor: pointer;
}

.PaletteChip-color {
  width: 20%;
  box-sizing: border-box;
  height: 2rem;
}

.PaletteChip-info {
  flex: 0 0 auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.PaletteChip-name {
  color: rgb(100, 100, 100);
  font-weight: 500;
  font-size: .65rem;
  padding: .75rem;
  margin: 0;
  text-align: left;
  width: 100%;
}

.PaletteChip-trash-btn {
  font-size: .85rem;
  color:rgb(170,170,170);
  transition: color .3s, font-size .3s;
}

.PaletteChip-trash-btn:hover {
  color: #eb2f06;
  font-size: 1.1rem;
}
