.CreatePalette {

}

.CreatePalette-toolbar {
 display: flex;
 flex-direction: row;
}

.CreatePalette-toolbar-header {
  flex: 1 1 auto;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  padding-right: 1rem;
}

.CreatePalette-palette {
  background: whitesmoke;
}

.CreatePalette-Btn {
  border: none;
  margin: 0;
  padding: .5rem .6rem .4rem .6rem;
  background: transparent;
  border-radius: 4px;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 600;
  transition: background .5s;
}

.CreatePalette-Btn--save {
  color: #fff;
  background: rgb(56,193,114);
}

.CreatePalette-Btn--save:hover {
  background: rgb(45,156,92);
}

.CreatePalette-Btn--exit {
  font-weight: 500;
}

.CreatePalette-Btn--exit:hover {
  background: rgb(230,230,230);
}