.CreatePalette {

}

.CreatePalette-toolbar {
 display: flex;
 flex-direction: row;
}

.CreatePalette-toolbar-header {
  flex: 1 1 auto;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  padding-right: 1rem;
}

.CreatePalette-drawer-header {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 0 .2rem 0;
  line-height: normal;
}

.CreatePalette-drawer-subheader {
  color: rgb(120,120,120);
  font-size: .7rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
  line-height: normal;
}

.CreatePalette-drawer {
  padding: 0 15px 15px 15px;
}

.CreatePalette-picker {
  box-shadow: rgba(0,0,0,.1) 0px 0px 0px 1px, rgba(0,0,0,.1) 0px 0px 10px !important;
}

.CreatePalette-palette {
  background: whitesmoke;
}

.CreatePalette-Btn {
  border: none;
  margin: 0;
  padding: .4rem .6rem .4rem .6rem;
  background: transparent;
  border-radius: 4px;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  transition: background .3s;
  text-align: center;
}

.CreatePalette-Btn--save {
  color: #fff;
  background: rgb(12,182,8);
}

.CreatePalette-Btn--save:hover {
  background: rgb(10,143,8);
}

.CreatePalette-Btn--exit:hover {
  background: rgb(230,230,230);
}

.CreatePalette-Btn--plain {
  background: rgb(230,230,230);
  font-size: .75rem;
}

.CreatePalette-Btn--plain:hover {
  background: rgb(210,210,210);
}

.CreatePalette-Btn--add {
  color: #fff;
  background: #000;
  width: 100%;
  position: relative;
  /* to accommodate --add-chip */
  padding-left: calc(83% + 8px);
  padding-top: 6px;
  padding-bottom: 3px;
  overflow: hidden;
}

.CreatePalette-Btn--add svg {
  transition: transform .5s;
}

.CreatePalette-Btn--add-chip {
  display: block;
  width: 83%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 2px 2px rgba(30,30,30,.15);
  transition: background .3s, width .5s;
}

.CreatePalette-Btn--add-msg {
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  top: .5rem;
  left: 15px;
  width: 83%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  text-align: left;
}

.CreatePalette-Btn--add:hover {
  background: rgb(45,47,50);
}

.CreatePalette-Btn--add:hover svg {
  transform: scale(1.2);
}

.CreatePalette-Btn--add:disabled {
  background: rgb(99,100,102);
}

.CreatePalette-Btn--add:disabled svg {
  transform: rotate(45deg);
}

.CreatePalette-Btn--add:disabled .CreatePalette-Btn--add-chip {
  width: 3%;
}

.CreatePalette-Btn--add:disabled .CreatePalette-Btn--add-msg {
  opacity: 1;
}

.CreatePalette-drawer-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  padding-top: .8rem;
}

.CreatePalette-drawer-btns > * {
  flex: 1 0 auto;
}

.CreatePalette-msg {
  background: rgb(255,252,244);
  border: solid 2px rgb(251,235,185);
  border-radius: 4px;
  font-size: .75rem;
  color: rgb(140,109,31);
  line-height: 1.1rem;
  padding: 10px;
  margin-bottom: 0;
}

.CreatePalette-msg span {
  color: rgb(92,72,19);
  font-weight: 600;
}

.CreatePalette-main {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
