html {
  background: white;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Btn {
  border: none;
  margin: 0;
  padding: .35rem .6rem .4rem .6rem;
  background: transparent;
  border-radius: 4px;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  transition: background .3s;
  text-align: center;
}

.Btn--plain {
  background: rgb(230,230,230);
  font-size: .75rem;
}

.Btn--plain:hover {
  background: rgb(210,210,210);
}

.Btn--plain:focus {
  box-shadow: 0 0 1px 3px rgb(193, 204, 200);
}

.Btn--save {
  color: #fff;
  background: rgb(8, 182, 106);
}

.Btn--save:hover {
  background: rgb(9, 204, 119);
}

.Btn--save:focus {
  box-shadow: 0 0 1px 3px rgb(193, 204, 200);
}

.Btn--exit:hover {
  background: rgb(230,230,230);
}

.Btn--exit:focus {
  box-shadow: 0 0 1px 3px rgb(193, 204, 200);
}
