.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
}

.Navbar-header {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem 15px 1.1rem 18px;
  color: #000;
  background: #fff;
}

.Navbar-header a {
  text-decoration: none;
  color: inherit;
}

.Navbar-head {
  flex: 0 0 auto;
}

.Navbar-slider-label {
  flex: 0 0 auto;
  font-size: .65rem;
  font-weight: 500;
  padding: 0 .5rem 0 20px;
  color: #000;
}

.Navbar-slider {
  flex: 1 1 auto;
  min-width: 75px;
  max-width: 300px;
  align-self: center;
  padding-right: 20px;
}

.Navbar-format {
  flex: 1 1 auto;
  min-width: 70px;
  max-width: 85px;
  padding-right: 20px;
  padding-left: 10px;
  margin-left: auto;
}

@media (max-width: 600px) {
  .Palette-navbar {
    flex-wrap: wrap;
    background: rgb(247,247,247);
  }
  .Palette-navbar .Navbar-head {
    width: 100%;
  }
  .Palette-navbar .Navbar-format {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

@media (max-width: 380px) {
  .Palette-navbar {
    padding-bottom: 1.4rem;
  }
  .Palette-navbar .Navbar-head {
    order: 1;
  }
  .Palette-navbar .Navbar-slider-label {
    order: 3;
  }
  .Palette-navbar .Navbar-slider {
    order: 4;
  }
  .Palette-navbar .Navbar-format {
    order: 2;
    padding-left: 20px;
    width: 100%;
    max-width: 100%;
    padding-top: .75rem;
    padding-bottom: 1.5rem;
  }

  .ColorShades-navbar {
    flex-wrap: wrap;
    background: rgb(247,247,247);
  }
  .ColorShades-navbar .Navbar-head {
    width: 100%;
  }
  .ColorShades-navbar .Navbar-format {
    padding-left: 20px;
    width: 100%;
    max-width: 100%;
    padding-top: .65rem;
    padding-bottom: .65rem;
  }
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: .3rem;
  background-color: rgb(200,200,200);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: rgb(30,30,30);
  border: solid 2px white;
  outline: none;

}