.PaletteChip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 1px 1px 10px rgba(180,180,180,.3); */
}

.PaletteChip-color {
  width: 20%;
  box-sizing: border-box;
  height: 2rem;
}

.PaletteChip-name {
  background: #fff;
  color: rgb(100, 100, 100);
  font-weight: 400;
  font-size: .75rem;
  padding: .75rem;
  margin: 0;
  text-align: left;
  width: 100%;
}

.PaletteChip-link {
  text-decoration: none;
  color: inherit;
}