.SortableChip {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.SortableChip .info-container {
  align-items: flex-end;
}

.trash-icon-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  border-radius: 2px 0 0 0;
  transition: background .3s;
}

.trash-icon-btn svg {
  font-size: .8rem;
  margin: 3px 4px 0px 4px;
  transition: font-size .3s;
}

.trash-icon-btn:hover svg {
  font-size: 1.1rem;
}